.catering-info {
   display: flex;
   background-color: #000000;
   &__column {
      flex: 0 0 50%;
   }

   &__img {
      height: 100%;
   }

   &__body {
      padding: 75px 0 74px 60px;
      max-width: 365px;
   }

   &__title {
      margin-bottom: 25px;
   }

   &__text {
      font-size: 15px;
      color: #ffffff;
      line-height: 25px;
      text-align: left;
      margin-bottom: 51px;
   }

   &__buttons {
   }

   &__button {
      &:first-child {
         margin-right: 14px;
      }
   }
}
