.title {
   font-size: 50px;
   font-family: 'Akzidenz-Grotesk BQ Condensed';
   color: #ffffff;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 50px;
   text-align: left;
   letter-spacing: 0.1em;
   &_black {
      color: #000;
   }
}
